a {
  text-decoration: none;
  color: #d73953;
}

a::before {
  position: absolute;
  content: '';
  width: 0px;
  border-bottom: 4px solid;
  transition: width 0.5s ease-in-out;
  top: 50px;
  /* left: 0; */
}
a:hover::before {
  content: '';
  width: 148px;
}
