* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

input[type='checkbox'] {
  height: 0;
  width: 0;
  visibility: hidden;
}

div {
  position: relative;
  cursor: pointer;
}

.toggle-inner {
  width: 120px;
  height: 40px;
  border-radius: 20px;
  background-color: rgb(192, 192, 192);
  border: 2px solid gray;
}

input:checked + label > .toggle-inner::after {
  content: "Yes";
  color: white;
  font-weight: 300;
  font-size: 30px;
  position: relative;
  left: 15px;
  top: 3px;
}

.toggle-inner::after {
  content: "No";
  color: gray;
  font-weight: 300;
  font-size: 30px;
  position: relative;
  left: 60px;
  top: 3px;
}

.toggle-switch {
  height: 55px;
  width: 55px;
  border: 2px solid gray;
  border-radius: 30px;
  margin-top: -52px;
  background-color: white;
  left: -10px;
  /* transition:left 1s; */
}

input:checked + label > .toggle-inner {
  background: #e1013c;
}

input:checked + label > .toggle-switch {
  left: calc(100% + -50px);
}
